<!DOCTYPE html>
<html>
<head>
<title>订单管理</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/addcss.css">

</head>

<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group orderselect">
                <span class="widthseven">
                    <select id="selectType"  class="form-control">
                        <option value="tel">按收货人电话</option>
                        <option value="orderNo">按订单编号</option>
                        <option value="userName">按用户名</option>
                    </select>
                </span>
                <span  class="widthseven"><input type="text" class="form-control" v-model="q.sel"  placeholder="收货人电话"></span>
				<a class="btn btn-default" @click="query">查询</a>
            </div>

         </div>
         <table id="jqGrid"></table>
         <div id="jqGridPager"></div>
    </div>
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">订单id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.orderId" placeholder="订单id" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.orderNo" placeholder="订单编号" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单金额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.totalAmount" placeholder="订单金额" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.userName" placeholder="用户名称" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">收货人</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.consignee" placeholder="收货人"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">收货人地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.address" placeholder="收货人地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">收货人电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.tel" placeholder="收货人电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">快递单号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.expressNumber" placeholder="快递单号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">快递公司编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.expressCompanyNo" placeholder="快递公司编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单状态</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.orderStatus" placeholder="订单状态" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单提交时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="orderModel.createdTime" placeholder="订单提交时间" disabled/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload()" value="返回"/>
            </div>
        </form>
    </div>
    <div class="goodList" v-show="!showGoodList">
        <table id="goodTable"></table>
        <div id="orderGoodPager"></div>
    </div>
     <div id="delivery" style="display:none">
         <p><span>选择发货方式</span><span><select id="expressType"><option value="express">快递发货</option><option value="myself">自主发货</option></select></span></p>
         <div id="expressDelivery">
         <p id="expressNumberP">快递单号:&nbsp&nbsp<input type="text" name="expressNumber" placeholder="请输入快递单号"></p>
         <p id="expressCompanyP">快递公司:&nbsp&nbsp
             <select id="expressCompany">
                     <option  v-for="expressCompany in expressCompanyList" :value="expressCompany.companyNumber">{{expressCompany.companyName}}</option>
             </select>
         </p>
         </div>
         <div id="expressMyself" style="display: none">
             <p>请输入配送人手机号<input type="text" name="deliveryPersonTel"></p>
         </div>

     </div>
</div>
<script src="${request.contextPath}/statics/js/modules/order/orderSelectList.js?_${.now?long}"></script>
</body>
</html>