<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/style.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">

 <!-- bootstrap-table 表格插件样式 -->
<link href="${request.contextPath}/statics/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ac60c3773958d997a64b55feababb4a1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${request.contextPath}/statics/js/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.exhide.js"></script>


<!-- bootstrap-table 表格插件 -->
	<script  src="${request.contextPath}/statics/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script  src="${request.contextPath}/statics/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script  src="${request.contextPath}/statics/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js"></script>
	<script  src="${request.contextPath}/statics/plugins/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
 
 
 	<script src="${request.contextPath}/statics/plugins/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
	<script src="${request.contextPath}/statics/plugins/bootstrap-table/extensions/export/tableExport.js"></script>

