<!DOCTYPE html>
<html>
<head>
    <title>分类规格表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
         <div class="form-group">
 				<select id="search_channelId" name="channelId" class="selectpicker" @keyup.enter="query" 
							data-live-search="true"  >
				</select>
				<select id="search_oneCategory" name="channelId" class="selectpicker" @keyup.enter="query" 
							data-live-search="true"  >
				</select>
				 				<a class="btn btn-default" @click="query">查询</a>
 		</div>
			<#if shiro.hasPermission("good:categoryspec:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("good:categoryspec:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("good:categoryspec:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
        
			 <div class="form-group">
					<div class="col-sm-2 control-label">频道</div>
					<div class="col-sm-10">
						<select id="channelId" name="channelId" class="selectpicker"
							data-live-search="true"  >
						</select>
					</div>
				</div>
			 <div class="form-group">
                        <div class="col-sm-2 control-label">商品分类</div>
                        <div class="col-sm-10" v-show="addShow">
			<select id="categoryIdAdd" name="categoryId" class="selectpicker" multiple  
							data-live-search="true"  >

						</select>    
					                                      </div>
					                                             <div class="col-sm-10" v-show="!addShow">
			<select id="categoryId" name="categoryId" class="selectpicker"    
							data-live-search="true"  >

						</select>    
					                                      </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">规格名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="categorySpec.specName" placeholder="规格名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">规格排序</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="categorySpec.sort" placeholder="规格排序"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否可见</div>
                       <label class="radio-inline"> <input type="radio"
						name="isShow" value="1" v-model="categorySpec.isShow" /> 显示
					</label> <label class="radio-inline"> <input type="radio"
						name="isShow" value="0" v-model="categorySpec.isShow" /> 隐藏
					</label>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">手机端是否可见</div>
                          <label class="radio-inline"> <input type="radio"
						name="isMobileShow" value="1" v-model="categorySpec.isMobileShow" /> 显示
					</label> <label class="radio-inline"> <input type="radio"
						name="isMobileShow" value="0" v-model="categorySpec.isMobileShow" /> 隐藏
					</label>
                      
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/good/categoryspec.js?_${.now?long}"></script>

</body>
</html>