<!DOCTYPE html>
<html>
<head>
    <title>商品表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:good:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:good:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:good:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.goodName" placeholder="商品名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.goodNumber" placeholder="商品编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">显示价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.showPrice" placeholder="显示价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品简介</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.introduce" placeholder="商品简介"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">展示图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.picImg" placeholder="展示图片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否置顶 1=置顶/0=默认</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.showInTop" placeholder="是否置顶 1=置顶/0=默认"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否导航栏 1=显示/0=隐藏</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.showInNav" placeholder="是否导航栏 1=显示/0=隐藏"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否热门 1=热门/0=默认</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.showInHot" placeholder="是否热门 1=热门/0=默认"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否上架：1=上架/0=下架</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.showInShelve" placeholder="是否上架：1=上架/0=下架"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">搜索的关键词</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.searchKey" placeholder="搜索的关键词"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">页面标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.pageTitle" placeholder="页面标题"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">页面的描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.pageDescription" placeholder="页面的描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">页面的关键词</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.pageKeyword" placeholder="页面的关键词"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.remarks" placeholder="备注信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建者</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.createBy" placeholder="创建者"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">上架时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.shelveTime" placeholder="上架时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">上架人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.shelveBy" placeholder="上架人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新者</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.updateBy" placeholder="更新者"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="good.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/sys/good.js?_${.now?long}"></script>

</body>
</html>